## Play Tennis Classification

### Import Dataset

In [166]:
# Import dataset berbentuk csv
import pandas as pd
data = pd.read_csv("play_tennis.csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

### Drop Kolom

In [167]:
# Menghapus fitur 'day'
data.drop('day', axis=1, inplace=True)
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

### Label Encoding

In [168]:
# Mengubah data kategorikal menjadi numerikal 
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()
data['outlook'] = Le.fit_transform(data['outlook'])
data['temp'] = Le.fit_transform(data['temp'])
data['humidity'] = Le.fit_transform(data['humidity'])
data['wind'] = Le.fit_transform(data['wind'])
data['play'] = Le.fit_transform(data['play'])
data

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

### Feature Extraction

In [169]:
# Mengambil 4 kolom awal untuk melatih model 
x = data.iloc[:,:4].values
x

array([[2, 1, 0, 1],
       [2, 1, 0, 0],
       [0, 1, 0, 1],
       [1, 2, 0, 1],
       [1, 0, 1, 1],
       [1, 0, 1, 0],
       [0, 0, 1, 0],
       [2, 2, 0, 1],
       [2, 0, 1, 1],
       [1, 2, 1, 1],
       [2, 2, 1, 0],
       [0, 2, 0, 0],
       [0, 1, 1, 1],
       [1, 2, 0, 0]])

### Label Extraction

In [170]:
# Mengambil kolom terakhir untuk menjadi label prediksi 

y = data.iloc[:,-1].values
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

### Data Splitting

In [171]:
# Memisahkan data menjadi data test dan train 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.7)

### Training & Evaluation

In [172]:
from sklearn import naive_bayes
from sklearn import metrics

# Melatih model Naive Bayes (BernoulliNB) dengan data training
nb = naive_bayes.BernoulliNB()
nb.fit(x_train, y_train)

# Melakukan prediksi pada data uji
y_pred = nb.predict(x_test)

# Mengevaluasi performa model dengan menghitung akurasi
score = metrics.accuracy_score(y_test, y_pred)
print("Akurasi prediksi: ", score)

# Menampilkan classification report (Precision, Recall, F1-Score)
print("\nClassification Report:")
print(metrics.classification_report(y_test, y_pred))

Akurasi prediksi:  0.8

Classification Report:
              precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       1.00      0.75      0.86         4

    accuracy                           0.80         5
   macro avg       0.75      0.88      0.76         5
weighted avg       0.90      0.80      0.82         5

### Save Model

In [173]:
# Menyimpan model yang sudah dilatih
import pickle
import pandas as pd
pd.to_pickle(nb, "model_play_tennis.pkl")